.App{
    margin: 0;
}

.outer {
    display: table;
    width: 100vw;
    height: 100vh
}

.inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.center {
    display: inline-block;
    text-align: left;
    padding : 20px;
}